
/*Elements réutilisables */
html {
    overflow: auto;
}
html, body {
    height: 100vh;
    position: relative;
}
body {
    background-image: url("../media/background.jpg");
    background-position: center 0;
    background-repeat: no-repeat;

}

.container {
    width: 991px;
    margin: auto;

}

form {
    text-align: center;
}

/************************************************************************/
/******************************** Header* *******************************/
/************************************************************************/

.logo img{
    height: 51px;
    width: 196px;
    margin: 22px auto 13px 23px;
}

.nav-menu {
    background-color: rgba(0,86,175,255);
    color: #fff;
    font-weight: bold;
    margin: 0 12px 0 13px;
    position: relative;
    width: auto;
}

    ul {
            display: flex;
        }
    ul li {
        position: relative;
    }

    .main-nav-link {
        padding: 15px 5px;
        position: relative;
        text-align: center;
        width: 120px;
    }

    a.main-nav-link:hover {
        color: rgba(0,86,175,255);
    }

    .main-nav-link::after {
        border-right: dotted 3px white;
        content:'';
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
    }

    .dropdown::before {
        border: solid 3px transparent;
        border-top-color: white;
        content:'';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: calc(100% - 10px);
    }

    .dropdown:hover::before {
        border-top-color: rgba(0,86,175,255);
    }

        .sous-menu-marques {
            background-color: rgba(185,210,243,255);
            border: solid 2px rgba(185,210,243,255);
            color: #000;
            display: none;
            position: absolute;
            top: 100%;
            width: 150px;
            z-index: 1;
        }
            .sous-menu-marques a {
                border: none;
                padding: 15px 13px;
            }

        .nav-menu > ul > li:hover{
            background-color: rgba(185,210,243,255);
        }
        .nav-menu > ul > li:hover .nav-link-dotted {
            border-left: solid 2px rgba(185,210,243,255);
        }
        .nav-menu > ul > li:hover > .sous-menu-marques {
            display: block;
        }

.page-title {
    font-weight: bold;
    padding: 39px 0 25px 0;
    text-align: center;
    font-size: 28px;
}

/************************************************************************/
/******************************** TOP 3 / LISTE ********************************/
/************************************************************************/

.item-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
/*    background-color: #123;*/
}

    .item {
        display: flex;
        flex-direction: column;
        margin: 15px;
        text-align: center;
        flex-basis: 220px;
        cursor: pointer;
        padding: 0 5px;
    }
        .frame {
            height: 220px;
            width: 220px;
        }
        .frame > img {
            height: 100%;
            width: 100%;
        }

        .item-title {
            padding: 15px 0;
            font-size: 14px;
            flex-basis: 60px;
            color: rgba(0,86,175,255);
            font-weight: bold;
        }
        .item-price {
            font-size: 40px;
        }


/************************************************************************/
/******************************** DETAIL ********************************/
/************************************************************************/
.blue-key {
    color: rgba(0,86,175,255);
    font-weight: bold;
}
.black-value {
    font-size: 16px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-around;
}

.left {
    flex: 0 0 220px;
}
    .left .price {
        font-size: 50px;
        padding: 10px 0;
        text-align: center;
    }
    .stock {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 160px;
    }
    .stock form {
        margin-bottom: 6px;
    }

.right {
    flex:0 0 570px;
}

.detail select {
    max-width: 118px;
}

.marque {
    margin-bottom: 8px;
}

.description p {
    margin: 16px 0;
}